
@model ASP_MVC_CV_Prj.Models.Entity.Abilities

@{
    ViewBag.Title = "GetSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="container">
    <h2>GetSkill</h2>
    <form method="post">

        @Html.Label("ID")
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Ability")
        @Html.TextBoxFor(x => x.Ability, new { @class = "form-control" })
        <br />
        @Html.Label("Progress")
        @Html.TextBoxFor(x => x.Progress, new { @class = "form-control" })
        <br />
       
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
